# Created by .ignore support plugin (hsz.mobi)
.idea/
LearnFronteEnd.iml
src/test/java/ua/com/.DS_Store
src/test/java/ua/com/serzh/.DS_Store
src/main/java/ua/com/.DS_Store
src/main/java/ua/com/serzh/.DS_Store
target/
